@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        position: static;
    }

    .navigation ul {
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    .hero {
        height: 40vh;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .services {
        width: 80%;
        margin-bottom: 2rem;
    }

    .collections-gallery {
        grid-template-columns: 1fr;
    }

    .search-container {
        flex-direction: column;
        padding: 1rem 2%;
    }

    #searchInput {
        width: 100%;
        max-width: none;
        margin-bottom: 0.5rem;
        border-radius: 5px;
    }

    #searchBtn {
        width: 100%;
        border-radius: 5px;
    }

    .hamburger {
        display: flex; /* Show hamburger on small screens */
    }

    .navigation2 {
        display: none; /* Hide navigation2 by default on small screens */
    }

    .contact-section {
        padding: 2rem 2%;
    }

    .contact-form {
        padding: 1.5rem;
    }

    .contact-form fieldset {
        padding: 0.75rem;
    }

    .radio-buttons {
        flex-direction: column;
        gap: 0.5rem;
    }

    .contact-form button {
        padding: 0.5rem;
    }

    .selected-items li {
        padding: 0.4rem;
        font-size: 0.9rem;
    }

    .selected-items .delete-btn {
        font-size: 0.9rem;
        padding: 0 0.4rem;
    }
}

@media screen and (max-width: 480px) {
    .hero {
        height: 30vh;
    }

    .hero-text h1 {
        font-size: 1.5rem;
    }

    .hero-text a {
        padding: 0.5rem 1rem;
    }

    .contact-section {
        padding: 1rem 1%;
    }

    .contact-form {
        padding: 1rem;
    }

    .contact-form label {
        font-size: 0.9rem;
    }

    .contact-form input,
    .contact-form textarea,
    .contact-form select {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .contact-form button {
        font-size: 0.9rem;
    }

    .selected-items li {
        padding: 0.3rem;
        font-size: 0.85rem;
    }

    .selected-items .delete-btn {
        font-size: 0.85rem;
        padding: 0 0.3rem;
    }
}